-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: poa_pac
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `direcciones_catalogo`
--

DROP TABLE IF EXISTS `direcciones_catalogo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `direcciones_catalogo` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `direcciones_catalogo`
--

LOCK TABLES `direcciones_catalogo` WRITE;
/*!40000 ALTER TABLE `direcciones_catalogo` DISABLE KEYS */;
/*!40000 ALTER TABLE `direcciones_catalogo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `etapas_pac`
--

DROP TABLE IF EXISTS `etapas_pac`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `etapas_pac` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `orden` int(11) NOT NULL,
  `es_personalizada` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etapas_pac`
--

LOCK TABLES `etapas_pac` WRITE;
/*!40000 ALTER TABLE `etapas_pac` DISABLE KEYS */;
/*!40000 ALTER TABLE `etapas_pac` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notificaciones`
--

DROP TABLE IF EXISTS `notificaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notificaciones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tipo` varchar(50) NOT NULL,
  `destinatario` varchar(255) NOT NULL,
  `asunto` varchar(255) NOT NULL,
  `mensaje` longtext NOT NULL,
  `tarea_id` int(11) DEFAULT NULL,
  `fecha` datetime NOT NULL,
  `leida` tinyint(1) NOT NULL DEFAULT 0,
  `fecha_leida` datetime DEFAULT NULL,
  `enviada` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `idx_fecha` (`fecha`),
  KEY `idx_tarea` (`tarea_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notificaciones`
--

LOCK TABLES `notificaciones` WRITE;
/*!40000 ALTER TABLE `notificaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `notificaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `responsables_catalogo`
--

DROP TABLE IF EXISTS `responsables_catalogo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `responsables_catalogo` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `direccion_id` int(11) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_responsables_direccion` (`direccion_id`),
  CONSTRAINT `fk_responsables_direccion` FOREIGN KEY (`direccion_id`) REFERENCES `direcciones_catalogo` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=104 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `responsables_catalogo`
--

LOCK TABLES `responsables_catalogo` WRITE;
/*!40000 ALTER TABLE `responsables_catalogo` DISABLE KEYS */;
/*!40000 ALTER TABLE `responsables_catalogo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seguimiento_etapas`
--

DROP TABLE IF EXISTS `seguimiento_etapas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `seguimiento_etapas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `subtarea_id` int(11) NOT NULL,
  `etapa_id` int(11) NOT NULL,
  `estado` varchar(50) NOT NULL DEFAULT 'pendiente',
  `fecha_planificada` date DEFAULT NULL,
  `fecha_real` date DEFAULT NULL,
  `responsable_id` int(11) DEFAULT NULL,
  `responsable` varchar(255) DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_subtarea_etapa_seguimiento` (`subtarea_id`,`etapa_id`),
  KEY `etapa_id` (`etapa_id`),
  KEY `fk_seguimiento_responsable` (`responsable_id`),
  CONSTRAINT `fk_seguimiento_responsable` FOREIGN KEY (`responsable_id`) REFERENCES `responsables_catalogo` (`id`) ON DELETE SET NULL,
  CONSTRAINT `seguimiento_etapas_ibfk_1` FOREIGN KEY (`subtarea_id`) REFERENCES `subtareas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `seguimiento_etapas_ibfk_2` FOREIGN KEY (`etapa_id`) REFERENCES `etapas_pac` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=33991 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seguimiento_etapas`
--

LOCK TABLES `seguimiento_etapas` WRITE;
/*!40000 ALTER TABLE `seguimiento_etapas` DISABLE KEYS */;
/*!40000 ALTER TABLE `seguimiento_etapas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seguimientos_diarios`
--

DROP TABLE IF EXISTS `seguimientos_diarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `seguimientos_diarios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `subtarea_id` int(11) NOT NULL,
  `etapa_id` int(11) NOT NULL,
  `fecha` date NOT NULL,
  `comentario` text NOT NULL,
  `tiene_alerta` tinyint(1) DEFAULT 0,
  `responsable_id` int(11) DEFAULT NULL,
  `responsable` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `etapa_id` (`etapa_id`),
  KEY `idx_sd_subtarea` (`subtarea_id`),
  KEY `fk_seguimientos_diarios_responsable` (`responsable_id`),
  CONSTRAINT `fk_seguimientos_diarios_responsable` FOREIGN KEY (`responsable_id`) REFERENCES `responsables_catalogo` (`id`) ON DELETE SET NULL,
  CONSTRAINT `seguimientos_diarios_ibfk_1` FOREIGN KEY (`subtarea_id`) REFERENCES `subtareas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `seguimientos_diarios_ibfk_2` FOREIGN KEY (`etapa_id`) REFERENCES `etapas_pac` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seguimientos_diarios`
--

LOCK TABLES `seguimientos_diarios` WRITE;
/*!40000 ALTER TABLE `seguimientos_diarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `seguimientos_diarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subtareas`
--

DROP TABLE IF EXISTS `subtareas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subtareas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `direccion_encargada` varchar(255) NOT NULL,
  `nombre` text NOT NULL,
  `codigo_olympo` varchar(100) NOT NULL,
  `partida_presupuestaria` varchar(120) DEFAULT NULL,
  `presupuesto_2026_inicial` decimal(14,2) NOT NULL DEFAULT 0.00,
  `costo_2026` decimal(14,2) NOT NULL DEFAULT 0.00,
  `cuatrimestre` varchar(50) DEFAULT NULL,
  `plazo_contrato` varchar(120) DEFAULT NULL,
  `pac_no_pac` varchar(30) NOT NULL DEFAULT 'PAC',
  `procedimiento_sugerido` varchar(255) DEFAULT NULL,
  `responsable_id` int(11) DEFAULT NULL,
  `responsable` varchar(255) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `observaciones` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo_olympo` (`codigo_olympo`),
  KEY `fk_subtareas_responsable` (`responsable_id`),
  CONSTRAINT `fk_subtareas_responsable` FOREIGN KEY (`responsable_id`) REFERENCES `responsables_catalogo` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=225 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subtareas`
--

LOCK TABLES `subtareas` WRITE;
/*!40000 ALTER TABLE `subtareas` DISABLE KEYS */;
/*!40000 ALTER TABLE `subtareas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subtareas_etapas`
--

DROP TABLE IF EXISTS `subtareas_etapas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subtareas_etapas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `subtarea_id` int(11) NOT NULL,
  `etapa_id` int(11) NOT NULL,
  `aplica` tinyint(1) NOT NULL DEFAULT 1,
  `fecha_tentativa` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_subtarea_etapa` (`subtarea_id`,`etapa_id`),
  KEY `etapa_id` (`etapa_id`),
  CONSTRAINT `subtareas_etapas_ibfk_1` FOREIGN KEY (`subtarea_id`) REFERENCES `subtareas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `subtareas_etapas_ibfk_2` FOREIGN KEY (`etapa_id`) REFERENCES `etapas_pac` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=33991 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subtareas_etapas`
--

LOCK TABLES `subtareas_etapas` WRITE;
/*!40000 ALTER TABLE `subtareas_etapas` DISABLE KEYS */;
/*!40000 ALTER TABLE `subtareas_etapas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(80) NOT NULL,
  `nombre` varchar(255) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('admin','direccion','reporteria') NOT NULL,
  `direccion_nombre` varchar(255) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'poa_pac'
--

--
-- Dumping routines for database 'poa_pac'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-17 12:08:23
